{% extends 'base!.html' %}

{% block content %}


<div class="container">

    <h3 class="productos"> Nuestros productos: </h3>

    <div class="row g-12">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card mb-4">
                <img class="card-img-top" src="/static/img/bolsa.jpg" alt="Bolsa de materiales reutilizables">
                <div class="card-body">
                    <p class="card-text">Bolsa segunda vida</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card mb-4">
                <img class="card-img-top" src="/static/img/botella.jpg" alt="Botella de vidrio reutilizable">
                <div class="card-body">
                    <p class="card-text"> Botella reutilizable </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card mb-4">
                <img class="card-img-top" src="/static/img/cepillo.jpg" alt="Cepillo de madera biodegradable">
                <div class="card-body">
                    <p class="card-text">Cepillos biodegradables</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-12"> 
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card mb-4">
                <img class="card-img-top" src="/static/img/libro.jpg" alt="Libro con hojas de papel reciclado">
                <div class="card-body">
                    <p class="card-text"> Cuadernos reciclados </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}