{% extends 'base!.html' %}

{% block content %}

<div class="quienes">
    <img class="bosque col-12" src="/static/img/bosquepc.jpg" alt="">
    <span class="textoBosque col-11 col-lg-5 col-xs-12 fs-6 fs-md-1"> Tienda Verde es una pequeña empresa local comprometida con la venta de productos ecológicos y sostenibles. Nos esforzamos por promover prácticas responsables con el medio ambiente, ofreciendo a nuestros clientes opciones que ayudan a reducir su impacto ambiental. </span>
</div>


<div class="container">
    
    <h3 class="productos"> Productos destacados:</h3>

    <div class="row g-12">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card mb-4">
                <img class="card-img-top" src="/static/img/bolsa.jpg" alt="Bolsa de materiales reutilizables">
                <div class="card-body">
                    <p class="card-text">Bolsa segunda vida</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card mb-4">
                <img class="card-img-top" src="/static/img/libro.jpg" alt="Libro reciclado">
                <div class="card-body">
                    <p class="card-text"> Libros reciclados </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
    
